@font-face {
    font-family: Roboto, sans-serif;
    src: url(../css/Roboto.zip);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .container__background {
    width: 574px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 32px;
}
.container .container__background .container__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 22px 24px;
    border-bottom: 1px solid#8F92A11A;
    margin-bottom: 32px;
}
.container .container__background .container__head .container__headTitle {
    font-size: 16px;
    font-weight: 700;
    color: #171717;
}
.container .container__background .container__centerText {
    font-size: 16px;
    font-weight: 400;
    color: #8F92A1;
    text-align: center;
    margin-bottom: 32px;
}

.container .container__background .container__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.container .container__background .container__btns .container__deleteBtn {
    padding: 8px 24px;
    background-color: #7E2DFC;
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.container .container__background .container__btns .container__cancelBtn {
    padding: 8px 39px;
    background-color: #8F92A11A;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;   
    color: #171717;
    cursor: pointer;
}
.inputs {
    padding: 0 32px 32px 32px;
}
.inputs__inputContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    width: 510px;
    border: 1px solid #17171799;
    border-radius: 15px;
    padding: 11px 20px 11px 24px;
}
.inputs__inputContainer:last-child {
    margin-bottom: 0;
}
.inputs__inputContainer input {
    outline: none;
    color: #171717;
    font-size: 14px;
    font-weight: 700;
    border: none;
}
.inputs__inputContainer label {
    position: absolute;
    transform: translateY(-50%);
    color: #8F92A1;
    top: 0;
    left: 10px;
    font-size: 12px;
    font-weight: 500;
    background: #fff;
    padding: 0 8px;
}
