@font-face {
    font-family: Roboto, sans-serif;
    src: url(../css/Roboto.zip);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userInfo .userInfo__userName {
    font-size: 22px;
    font-weight: 700;
    color: #171717;
    margin-top: 8px;
}
.userInfo .userInfo__dateUser {
    font-size: 14px;
    font-weight: 400;
    color: #8F92A1;
    margin-top: 8px;
}
.userInfo .userInfo__dateUser:nth-child(5) {
    margin-bottom: 32px;
}
.margin {
    margin-top: 8px;
}